*.o
TAGS
*.log
*.status
*.cache
bin/*
Makedepend
Makefile
Makeoptions
configure
src/Makefile
src/config.h
src/defs.h
src/fftsrc/Makefile
src/gravity/Makefile
src/integrators/Makefile
src/microphysics/Makefile
src/particles/Makefile
src/problem.c
src/reconstruction/Makefile
src/rsolvers/Makefile


